#   ┌─┐┬┌┬┐┬┌─┐┌┐┌┌─┐┬─┐┌─┐
#   │ ┬│ │ ││ ┬││││ │├┬┘├┤
#  o└─┘┴ ┴ ┴└─┘┘└┘└─┘┴└─└─┘

.DS_store

# dependencies
**/node_modules/**

# Built files
Build/**
build/**
dist/**
.vsix

# Local files
.env
.variables
.ignore/**
ignore/**

# Logs
**/*.map
npm-debug.log
npm-debug.log.*
yarn-error.log

# Misc.
!.gitkeep
.idea
.projectile
**/tags


