#   ┌─┐┬┌┬┐┬┌─┐┌┐┌┌─┐┬─┐┌─┐
#   │ ┬│ │ ││ ┬││││ │├┬┘├┤
#  o└─┘┴ ┴ ┴└─┘┘└┘└─┘┴└─└─┘

# Mac files
Icon?
.DS_store
Desktop.ini
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# dependencies
**/node_modules/**
bower_components/**

# Built files
Build/**
build/**
dist/**
.vsix

# Local files
.env
.variables
.ignore/**
ignore/**

# Logs
**/*.map
npm-debug.log
npm-debug.log.*
yarn-error.log

# Misc.
!.gitkeep
.idea
.vscode
.projectile
**/tags


